body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2{text-align: center;}
h1{letter-spacing: 10px;}
h2{letter-spacing: 5px;}
p{
    padding: 20px;
    margin: 20px;
    border: #059 solid 2px;
    font-size: 20px;
}
#container{
    display: grid;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #059;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5, 100px);
    color: #fff;
}
.input{
    background-color: #223;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    transition: all 0.7s;
}
.vacia{
    grid-row: 1/ span 1;
    grid-column: 1/span 1;
}
.d1{
    grid-column: 2 /span 1;
}
.d2{
    grid-column: 3/span 1;
}
.d3{
    grid-column: 4/span 1;
}
.dtotal{
    grid-column: 5/span 1;
}
.o1{
    grid-row: 2/span 1;
    grid-column: 1/span 1;
}
.o2{
    grid-row: 3/span 1;
    grid-column: 1/span 1;
}
.o3{
    grid-row: 4/span 1;
    grid-column: 1/span 1;
}
.ototal{
    grid-row: 5/span 1;
    grid-column: 1/span 1;
}
.c1{
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}
.c2{
    grid-row: 3/span 1;
    grid-column: 2/span 1;
}
.c3{
    grid-row: 4/span 1;
    grid-column: 2/span 1;
}
.demanda1{
    grid-row: 5/span 1;
    grid-column: 2/span 1;
}
.c4{
    grid-row: 2/span 1;
    grid-column: 3/span 1;
}
.c5{
    grid-row: 3/span 1;
    grid-column: 3/span 1;
}
.c6{
    grid-row: 4/span 1;
    grid-column: 3/span 1;
}
.demanda2{
    grid-row: 5/span 1;
    grid-column: 3/span 1;
}
.c7{
    grid-row: 2/span 1;
    grid-column: 4/span 1;
}
.c8{
    grid-row: 3/span 1;
    grid-column: 4/span 1;
}
.c9{
    grid-row: 4/span 1;
    grid-column: 4/span 1;
}
.demanda3{
    grid-row: 5/span 1;
    grid-column: 4/span 1;
}
.oferta1{
    grid-row: 2/span 1;
    grid-column: 5/span 1;
}
.oferta2{
    grid-row: 3/span 1;
    grid-column: 5/span 1;
}
.oferta3{
    grid-row: 4/span 1;
    grid-column: 5/span 1;
}
.total{
    grid-row: 5/span 1;
    grid-column: 5/span 1;
}
.calculo{
    margin-left: 50px;
    padding-left: 50px;
}

.botones{
    padding: 20px;
    display: flex;
    border: #059 solid 2px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
button{
    display: block;
    margin: auto;
    background-color: #059;
    color: #fff;
    padding: 20px;
    width: 100px;
}
b{
    margin: auto;
    display: block;
    border-bottom: #fff solid 2px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.6s;
}
footer{
    text-align: center;
    padding: 20px;
}
.head{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color: rgb(3, 74, 133);
    transform: scale(115%);
}
input:hover{
    transform: scale(125%);
}
input:focus{
    transform: scale(125%);
}

@media screen and (max-width: 540px){
    h1,h2{
        font-size: 0.8em;
    }
    p{
        font-size: 16px;
    }
    .head{
        font-size: 16px;
    }
    .input{
        font-size: 10px;
    }
    #container{
        width: 290px;
        height: 290px;
        grid-template-columns: repeat(5,58px);
        grid-template-rows: repeat(5, 58px);
    }
}