body{
    background-color: rgb(45, 45, 45);
    margin: 0%;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
/* Header */
#header{
    background-color: rgb(120,120,120);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 7px;
    box-shadow: 0px 8px 15px black;
    border-bottom: 3px solid #1ff;
    z-index: 1000;
}
h1{letter-spacing: 15px;}
.nav{
    padding: 15px 0px 15px;
    background-color: rgb(120,120,120);
    border-bottom: 3px solid #1ff;
    text-align: center;
    letter-spacing: 7px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.link{
    text-decoration: none;
    transition: 0.3s;
}
.link:visited{
    color: #fff;
}
.link:hover{
    color: #1ff;
}
.link:link{
    color: #fff;
}
.link:active{
    color: #1ff;
}
 
/* Main */
#about{
    display: flex;
    flex-direction: row;
    background-color: rgb(70,70,70);
    width: 90%;
    height: 250px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 8px 15px black;
}
.about-img{
    background-color: #1ff;
    min-width: 380px;
    box-shadow: 5px 0px 15px black;
}
.about-info{
    margin: 20px;
    padding: 20px;
    text-align: justify;
    align-self: center;
}
/* Efecto neon a luz titulos */
.neon{
    text-shadow: 2px 2px 10px #fff;
    text-shadow: 2px 2px 10px #fff;
}
/* SECCION DE LAS TECNOLOGIAS */
#tecnologias{
    background-color: rgb(70,70,70);
    width: 75%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 15px black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,100px);
}
.tecno{
    text-align: center;
    letter-spacing: 10px;
    grid-column: 1 / span 3;
    grid-row: 1 / 1;
}
.len{
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    margin-top: 40px;
}
.icono1{
    background-color: orangered;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%,75% 100%, 0% 100%);
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    transform: translate(25%);
    z-index: 10;
}
.icono2{
    background-color: royalblue;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%,75% 100%, 0% 100%);
    grid-column: 2 / span 1;
    grid-row: 2 / sapn 1;
    z-index: 5;
}
.icono3{
    background-color: yellow;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%,75% 100%, 0% 100%);
    grid-column: 3 / span 1;
    grid-row: 2 / sapn 1;
    transform: translateX(-27%);
    z-index: 1;
}

/* Seccion Proyectos */
#proyectos{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    width: 90%;
    height: 300px;
    background-color: rgb(70,70,70);
    box-shadow: 0 8px 15px black;
    margin: auto;
    margin-bottom: 20px;
}
.proyecto-info{
    grid-column: 1/span 1;
    text-align: justify;
    padding: 20px;
}
.proyecto-info h3{text-align: center;letter-spacing: 8px;}
.enlace{
    text-align: center;
    display: block;
}
/* Codigo para las imagenes y parte derecha */
.main-img{
    filter: drop-shadow(-5px 5px 15px black);
    position: relative;
}
.proyecto-img{
    grid-column: 2 / span 1;
    background-color: #1ff;
    width: 300px;
    height: 300px;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 35% 50%, 0 100%);
}
.img-proyecto{
    position: absolute;
    grid-column: 2 / span 1;
    justify-self: end;
    margin-right: 50px;
}
.img1{
    width: 120px;
}
.img2{
    width: 120px;
}
/* FOOTER */
#contacto{
    width: 70%;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(70,70,70);
    box-shadow: 0 8px 15px black;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 75px 200px 75px;
}
.titulo-contacto{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;
    letter-spacing: 10px;
    color: #1ff;
    text-shadow: 1px 1px 8px #1ff;
}
.img-contacto{
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    align-self: center;
    background-color: #1ff;
    box-shadow: 5px 8px 15px black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-email{
    width: 170px;
}
.p-contacto{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: justify;
    letter-spacing: 3px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.boton-contacto{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    justify-self: center;
    background-color: rgb(70,70,70);
    text-shadow: 2px 2px 10px #fff;
    text-align: center;
    border: none;
    border-bottom: 3px solid #1ff;
    border-radius: 5px;
    height: 20px;
    width: 80px;
    padding: 5px;
    transform: translateY(-10px);
}
.gmail:hover{
    text-shadow: 0px 0px 20px #1ff;
    color: #1ff;
}
/* Footer final */
.footer{
    background-color: rgb(120,120,120);
    box-shadow: 0 20px 25px black; 
    border-top: 3px solid #1ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-top: 20px;
}
.copy{
    margin-left: 20px;
}
.arriba{
    margin-right: 20px;
}

/* Responsive */
 @media screen and (max-width: 700px) {
    #about{
        display: flex;
        flex-direction: column;
        height: 500px;
        position: relative;
    }
    .about-img{
        min-height: 50%;
        min-width: 100%;
    }
    #proyectos{
        display: grid;
        grid-template-rows: repeat(2,auto);
        justify-content: center;
        width: 300px;
        height: 550px;
    }
    .proyecto-info{
        grid-row: 2 /span 1;
        transform: translateY(-30px);
    }
    .main-img{
        filter: drop-shadow(-5px 5px 15px black);
    }
    .proyecto-img{
        grid-row: 1 / span 1;
        width: 300px;
        height: 300px;
        transform: rotate(-90deg);
    }
    .img-proyecto{
        grid-row: 1 / span 1;
        margin-right: 0;
        margin-top: 30px;
        justify-self: center;
        align-self: flex-start;
    }
    .img1{
        width: 175px;
    }
    #contacto{
        width: 70%;
        height: 550px;
        display: grid;
        grid-template-rows: 75px 200px 200px 75px;
        grid-template-columns: auto;
        justify-items: center;
    }
    .titulo-contacto{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .img-contacto{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-left: 0;
    }
    .p-contacto{
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        margin-top: 20px;
    }
    .boton-contacto{
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
 }
 @media screen and (max-width: 600px){
    #contacto{
        height: 650px;
    }
    .boton-contacto{
        transform: translateY(100px);
    }
 }
 @media screen and (max-width: 400px){
    body{
        font-size: 0.8em;
    }
    #contacto{
        height: 600px;
    }
    .boton-contacto{
        transform: translateY(65px);
    }
 }
 /* Animaciones */
 .animacion{
    background-color: transparent;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-25px);
    z-index: 2000;
 }
 .animacion2{
    background-color: transparent;
    width: 200px;
    height: 50px;
    position:absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-25px);
    z-index: 2000;
 }
 .bolita{
    background-color: #1ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 3000;
    animation-name: bolita;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }

 @keyframes bolita {
    0%{
        transform: translateY(0px);
        box-shadow: 0px -5px 20px #fff;
    }
    5%{
        transform: translateY(-2.5px);
    }
    100%{
        transform: translateY(-50px);
    }
 }

.n2{
    animation-name: bolita;
    animation-delay: 0.25s;
}
.n3{
    animation-name: bolita;
    animation-delay: 0.5s;
}
@media screen and (max-width: 950px) {
    .animacion{
        width: 100%;
        height: 200px;
        margin-left: 0px;
        position:fixed;
        bottom: 0;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2000;
     }
     .animacion2{
        opacity: 0;
     }
     @keyframes bolita {
        0%{
            transform: translateX(0px);
            box-shadow: 0px -5px 20px #fff;
        }
        5%{
            transform: translateX(-2.5px);
        }
        100%{
            transform: translateX(-50px);
        }
     }
}